<input type="button" value="Nowy użytkownik" [routerLink]="['stworz']" class="btn"><br>
<table class="table">
  <thead>
  <tr>
    <th>nazwa</th>
    <th>ulica</th>
    <th>miasto</th>
    <th>kodPocztowy</th>
    <th>nip</th>
    <th>login</th>
    <th>haslo</th>
    <th>logoId</th>
    <th>numerKonta</th>
    <th>bank</th>

  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let temp of uzytkownicy; let i = index">
    <td><a href="lista_uzytkownikow/edycja/{{temp.id}}">{{temp.id}}</a></td>
    <td>{{temp.nazwa}}</td>
    <td>{{temp.ulica}}</td>
    <td>{{temp.miasto}}</td>
    <td>{{temp.kodPocztowy}}</td>
    <td>{{temp.nip}}</td>
    <td>{{temp.login}}</td>
    <td>{{temp.haslo}}</td>
    <td>{{temp.logoId}}</td>
    <td>{{temp.numerKonta}}</td>
    <td>{{temp.bank}}</td>
  </tr>
  </tbody>
</table>
