<input type="button" value="Nowy klient" [routerLink]="['stworz']" class="btn"><br>
<table class="table">
  <thead>
  <tr>
    <th>id</th>
    <th>nazwa</th>
    <th>ulica</th>
    <th>miasto</th>
    <th>kodPocztowy</th>
    <th>nip</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let temp of klienci; let i = index">
    <td><a href="lista_klientow/edycja/{{temp.id}}">{{temp.id}}--EDYCJA</a></td>
    <td>{{temp.nazwa}}</td>
    <td>{{temp.ulica}}</td>
    <td>{{temp.miasto}}</td>
    <td>{{temp.kodPocztowy}}</td>
    <td>{{temp.nip}}</td>
    <td (click)="delete(temp.id)"></td>
  </tr>
  </tbody>
</table>
