<table class="table table-striped table-bordered table-hover table-condensed table-responsive" id="details" class="form-control">
  <thead>
   <th>Pozycje do wypełnienia</th>
  </thead>
  <tbody>
  <tr>
    <td>ID</td>
    <td><input type="number" [(ngModel)]="uzytkownik.id"></td>
  </tr>
  <tr>
    <td>Nazwa</td>
    <td><input type="text"    [(ngModel)]="uzytkownik.nazwa"></td>
  </tr>
  <tr>
    <td>Ulica</td>
    <td><input type="text"    [(ngModel)]="uzytkownik.ulica"></td>
  </tr>
  <tr>
    <td>Miasto</td>
    <td><input type="text"    [(ngModel)]="uzytkownik.miasto"></td>
  </tr>
  <tr>
    <td>Kod Pocztowy</td>
    <td><input type="text"    [(ngModel)]="uzytkownik.kodPocztowy"></td>
  </tr>

  <tr>
    <td>NIP</td>
    <td><input type="number"    [(ngModel)]="uzytkownik.nip"></td>
  </tr>
  <tr>
    <td>Login</td>
    <td><input type="text"    [(ngModel)]="uzytkownik.login"></td>
  </tr>
  <tr>
    <td>Hasło</td>
    <td><input type="text"    [(ngModel)]="uzytkownik.haslo"></td>
  </tr>
  <tr>
    <td>Logo Id</td>
    <td><input type="text"    [(ngModel)]="uzytkownik.logoId"></td>
  </tr>
  <tr>
    <td>Numer Konta</td>
    <td><input type="number"    [(ngModel)]="uzytkownik.numerKonta"></td>
  </tr>
  <tr>
    <td>Bank</td>
    <td><input type="text"    [(ngModel)]="uzytkownik.bank"></td>
  </tr>
  </tbody>

  <button class="btn" (click)="save()">Zapisz</button>
</table>
