<table class="table">
  <thead>
  <tr>
    <th>id</th>
    <th>nazwa</th>
    <th>ulica</th>
    <th>miasto</th>
    <th>kodPocztowy</th>
    <th>nip</th>
    <th>login</th>
    <th>haslo</th>
    <th>logoId</th>
    <th>numerKonta</th>
    <th>bank</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><input type="numer" [(ngModel)]="uzytkownik.id"></td>
    <td><input type="text"    [(ngModel)]="uzytkownik.nazwa"></td>
    <td><input type="text"    [(ngModel)]="uzytkownik.ulica"></td>
    <td><input type="text"    [(ngModel)]="uzytkownik.miasto"></td>
    <td><input type="text"    [(ngModel)]="uzytkownik.kodPocztowy"></td>
    <td><input type="number"    [(ngModel)]="uzytkownik.nip"></td>
    <td><input type="text"    [(ngModel)]="uzytkownik.login"></td>
    <td><input type="text"    [(ngModel)]="uzytkownik.haslo"></td>
    <td><input type="number"    [(ngModel)]="uzytkownik.logoId"></td>
    <td><input type="number"    [(ngModel)]="uzytkownik.numerKonta"></td>
    <td><input type="text"    [(ngModel)]="uzytkownik.bank"></td>

  </tr>
  </tbody>

  <button class="btn" (click)="save()">Zapisz</button>
</table>
