<table class="table">
  <thead>
  <tr><td (click)="newFaktura()" >Nowa Faktura</td></tr>
  </thead>
</table>


<table class="table">
  <thead>
  <tr>
    <th>ID</th>
    <th>Data wystawienia</th>
    <th>Data płatności</th>
    <th>Forma płatnosci</th>
    <th>Sprzedawca</th>
    <th>Klient</th>
    <th>Numer faktury</th>
    <th>Uwagi</th>
    <th>Szczegóły</th>
    <th>Usuń</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let temp of faktury; let i = index">
    <td><a href="lista_faktur/edycja/{{temp.id}}">{{temp.id}}--EDYCJA</a></td>
    <td>{{temp.dataWystawienia}}</td>
    <td>{{temp.dataPlatnosci}}</td>
    <td>{{temp.formaPlatnosci}}</td>
    <td>{{temp.sprzedawca.nazwa}}</td>
    <td>{{temp.klient.nazwa}}</td>
    <td>{{temp.nrFaktury}}</td>
    <td>{{temp.uwagi}}</td>
    <td><a href="lista_faktur/szczegoly/{{temp.id}}">Szczegóły</a></td>
    <td (click)="delete(temp.id)">Usuń</td>
    <td (click)="clone(temp)">Klonuj</td>
  </tr>
  </tbody>
</table>
