<input type="button" value="Nowa faktura" [routerLink]="['stworz']" class="btn">
<table class="table">
  <thead>
  <tr>
    <th>ID</th>
    <th>dataWystawienia</th>
    <th>dataPlatnosci</th>
    <th>formaPlatnosci</th>
    <th>sprzedawca</th>
    <th>klient</th>
    <th>nrFaktury</th>
    <th>pozycje</th>
    <th>uwagi</th>
  </tr>
  </thead>
  <tbody>

  <tr *ngFor="let temp of faktury; let i = index">
    <td><a href="lista_faktur/edycja/{{temp.id}}">{{temp.id}}--EDYCJA</a></td>
    <td>{{temp.dataWystawienia}}</td>
    <td>{{temp.dataPlatnosci}}</td>
    <td>{{temp.formaPlatnosci}}</td>
    <td>{{temp.sprzedawca}}</td>
    <td>{{temp.klient}}</td>
    <td>{{temp.nrFaktury}}</td>
    <td>{{temp.pozycje}}</td>
    <td>{{temp.uwagi}}</td>
  </tr>


  </tbody>



</table>
