<table class="table">
  <thead>
  <tr>
    <th>ID</th>
    <th>dataWystawienia</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>e
  <tbody>

  <tr *ngFor="let temp of faktury; let i = index">
    <td><a href="faktura/edycja/{{temp.id}}">{{temp.id}}</a></td>
    <td>{{temp.dataWystawienia}}</td>
    <td>{{temp.}}</td>
    <td>{{temp.}}</td>
    <td>{{temp.}}</td>
    <td>{{temp.}}</td>
    <td>{{temp.}}</td>
    <td>{{temp.}}</td>
  </tr>


  </tbody>

  <input type="button" value="Nowa" [routerLink]="['stworz']" class="btn">

</table>
