<table class="table table-striped table-bordered table-hover table-condensed table-responsive" id="details">
  <thead>
  <th>Pola do edytowania</th>
  </thead>
  <tbody>
  <tr>
    <td>ID</td>
    <td><input type="number" [(ngModel)]="faktura.id" class="form-control"></td>
  </tr>
  <tr>
    <td>Data Wystawienia</td>
    <td><input type="date" [(ngModel)]="faktura.dataWystawienia" class="form-control"></td>
  </tr>
  <tr>
    <td>Data Płatności</td>
    <td><input type="date" [(ngModel)]="faktura.dataPlatnosci" class="form-control"></td>
  </tr>
  <tr>
    <td>Forma Płatności</td>
    <td><input type="text" [(ngModel)]="faktura.formaPlatnosci" class="form-control"></td>
  </tr>

  <tr>
    <td>Numer Faktury</td>
    <td><input type="number" [(ngModel)]="faktura.nrFaktury" class="form-control"></td>
  </tr>
  <tr>
    <td>Uwagi</td>
    <td><input type="text" [(ngModel)]="faktura.uwagi" class="form-control"></td>
  </tr>
  <tr>
    <td>Sprzedawca</td>
    <select [compareWith]="byId" [(ngModel)]="faktura.sprzedawca" class="form-control">
      <option *ngFor="let sprzedawca of uzytkownikService.getUzytkownicyFromLocal()" [ngValue]="sprzedawca">
        {{ sprzedawca.nazwa }}
      </option>
    </select>
  </tr>
  <tr>
    <td>Klient</td>
    <select [compareWith]="byId" [(ngModel)]="faktura.klient" class="form-control">
      <option *ngFor="let klient of klientService.getKlienciFromLocal()" [ngValue]="klient">
        {{ klient.nazwa }}
      </option>
    </select>
  </tr>

  </tbody>

</table>

<button (click)="addPozycja()">Dodaj pozycje</button>
<table class="table table-striped table-bordered table-hover table-condensed table-responsive">
  <th>ID</th>
  <th>Nazwa</th>
  <th>Cena jednostkowa</th>
  <th>Ilość</th>
  <th>Cena netto</th>
  <th>Wartość Vat</th>
  <th>Cena brutto</th>
  <tr *ngFor="let pozycja of faktura.pozycje">
    <td><input type="number" [(ngModel)]="pozycja.id" readonly class="form-control"></td>
    <select [compareWith]="byId" [(ngModel)]="pozycja.nazwa" class="form-control">
      <option *ngFor="let towar of towarService.getTowaryFromLocal()" [ngValue]="towar">
        {{ towar.nazwa }}
      </option>
    </select>
    <td><input type="number" (change)="count(pozycja)" [(ngModel)]="pozycja.jednostkaMiary" class="form-control"
               min="0"></td>
    <td><input type="number" (change)="count(pozycja)" [(ngModel)]="pozycja.ilosc" class="form-control"></td>
    <td><input type="number" (change)="count(pozycja)" [(ngModel)]="pozycja.wartoscVat" class="form-control"></td>
    <td><input type="number" [(ngModel)]="pozycja.ceneNetto" class="form-control" readonly></td>
    <td><input type="number" [(ngModel)]="pozycja.wartoscBrutto" class="form-control" readonly></td>
    <td (click)="removePozycja(pozycja.id)">Usuń</td>

  </tr>
</table>


<button class="btn" (click)="save()">Zapisz</button>

