<table class="table" id="details" style="background-color: white">
  <thead>
  <th>Pola do edycji</th>
  </thead>
  <tbody>
  <tr>
    <td>ID</td>
    <td><input type="number" [(ngModel)]="faktura.id"></td>
  </tr>
  <tr>
    <td>Data Wystawienia</td>
    <td><input type="date" [(ngModel)]="faktura.dataWystawienia"></td>
  </tr>
  <tr>
    <td>Data Płatności</td>
    <td><input type="date" [(ngModel)]="faktura.dataPlatnosci"></td>
  </tr>
  <tr>
    <td>Forma Płatności</td>
    <td><input type="text" [(ngModel)]="faktura.formaPlatnosci"></td>
  </tr>
  <tr>
    <td>Sprzedawca</td>
    <td><input type="text" [(ngModel)]="faktura.sprzedawca"></td>
  </tr>
  <tr>
    <td>Klient</td>
    <td><input type="text" [(ngModel)]="faktura.klient"></td>
  </tr>
  <tr>
    <td>Numer Faktury</td>
    <td><input type="number" [(ngModel)]="faktura.nrFaktury"></td>
  </tr>
  <tr>
    <td>Uwagi</td>
    <td><input type="text" [(ngModel)]="faktura.uwagi"></td>
  </tr>

  </tbody>

</table>


<button class="btn" (click)="save()">Zapisz</button>
<button (click)="download()">Pobierz</button>
