<table class="table" id="details" style="background-color: white">
  <thead>
  <tr>
    <th>ID</th>
    <th>dataWystawienia</th>
    <th>dataPlatnosci</th>
    <th>formaPlatnosci</th>
    <th>sprzedawca</th>
    <th>klient</th>
    <th>nrFaktury</th>
    <th>pozycje</th>
    <th>uwagi</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><input type="number" [(ngModel)]="faktura.id"></td>
    <td><input type="date" [(ngModel)]="faktura.dataWystawienia"></td>
    <td><input type="date" [(ngModel)]="faktura.dataPlatnosci"></td>
    <td><input type="text" [(ngModel)]="faktura.formaPlatnosci"></td>
    <td><input type="text" [(ngModel)]="faktura.sprzedawca"></td>
    <td><input type="text" [(ngModel)]="faktura.klient"></td>
    <td><input type="number" [(ngModel)]="faktura.nrFaktury"></td>
    <td><input type="text" [(ngModel)]="faktura.uwagi"></td>
  </tr>

  </tbody>

</table>


<button class="btn" (click)="save()">Zapisz</button>
<button (click)="download()">Pobierz</button>
