<table class="table">
  <thead>
  <tr>
    <th>ID</th>
    <th>dataWystawienia</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><input type="number" [(ngModel)]="faktura.id"></td>
    <td><input type="date" [(ngModel)]="faktura.dataWystawienia"></td>
    <td><input type="" [(ngModel)]="faktura."></td>
    <td><input type="" [(ngModel)]="faktura."></td>
    <td><input type="" [(ngModel)]="faktura."></td>
    <td><input type="" [(ngModel)]="faktura."></td>
    <td><input type="" [(ngModel)]="faktura."></td>
  </tr>

  </tbody>

  <button class="btn" (click)="save()">Zapisz</button>
</table>
