<table class="table table-striped table-bordered table-hover table-condensed table-responsive">
  <thead>
  <th>Pola do edycji</th>
  </thead>
  <tbody>
  <tr>
    <td>ID</td>
    <td><input type="number" [(ngModel)]="uzytkownik.id" class="form-control"></td>
  </tr>
  <tr>
    <td>Nazwa</td>
    <td><input type="text" [(ngModel)]="uzytkownik.nazwa" class="form-control"></td>
  </tr>
  <tr>
    <td>Ulica</td>
    <td><input type="text" [(ngModel)]="uzytkownik.ulica" class="form-control"></td>
  </tr>
  <tr>
    <td>Miasto</td>
    <td><input type="text" [(ngModel)]="uzytkownik.miasto" class="form-control"></td>
  </tr>
  <tr>
    <td>Kod pocztowy</td>
    <td><input type="text" [(ngModel)]="uzytkownik.kodPocztowy" class="form-control"></td>
  </tr>
  <tr>
    <td>NIP</td>
    <td><input type="number" [(ngModel)]="uzytkownik.nip" class="form-control"></td>
  </tr>
  <tr>
    <td>Login</td>
    <td><input type="text" [(ngModel)]="uzytkownik.login" class="form-control"></td>
  </tr>
  <tr>
    <td>Hasło</td>
    <td><input type="text" [(ngModel)]="uzytkownik.haslo" class="form-control"></td>
  </tr>
  <tr>
    <td>Logo ID</td>
    <td><input type="text" [(ngModel)]="uzytkownik.logoId" class="form-control"></td>
  </tr>
  <tr>
    <td>Numer Konta</td>
    <td><input type="number" [(ngModel)]="uzytkownik.numerKonta" class="form-control"></td>
  </tr>
  <tr>
    <td>Bank</td>
    <td><input type="text" [(ngModel)]="uzytkownik.bank" class="form-control"></td>
  </tr>
  </tbody>

  <button class="btn" (click)="save()">Zapisz</button>
</table>
