<table class="table" id="details" style="background-color: white">
  <tbody>
  <tr>
    <td>ID</td>
    <td><span>{{faktura.id}}</span></td>
  </tr>
  <tr>
    <td>Data Wystawienia</td>
    <td>{{faktura.dataWystawienia}}</td>
  </tr>
  <tr>
    <td>Data Płatności</td>
    <td>{{faktura.dataPlatnosci}}</td>
  </tr>
  <tr>
    <td>Forma Płatności</td>
    <td>{{faktura.formaPlatnosci}}</td>
  </tr>
  <tr>
    <td>Sprzedawca</td>
    <td>{{faktura.sprzedawca.nazwa}}</td>
  </tr>
  <tr>
    <td>Klient</td>
    <td>{{faktura.klient.nazwa}}</td>
  </tr>
  <tr>
    <td>Numer Faktury</td>
    <td>{{faktura.nrFaktury}}</td>
  </tr>
  <tr>
    <td>Uwagi</td>
    <td>{{faktura.uwagi}}</td>
  </tr>

  </tbody>

</table>

Sprzedawca
<table class="table" >
  <th>ID</th>
  <tr *ngFor="let sprzedawca of faktura.sprzedawca">
    <td>{{sprzedawca.id}}</td>
  </tr>
</table>

Klient
<table class="table" >
  <th>ID</th>
  <tr *ngFor="let klient of faktura.klient">
    <td>{{klient.id}}></td>
  </tr>
</table>

Pozycje
<table class="table" >
  <th>ID</th>
  <th>Nazwa</th>
  <th>Jednostka miary</th>
  <th>Ilość</th>
  <th>Cena netto</th>
  <th>Wartość Vat</th>
  <th>Cena brutto</th>
  <tr *ngFor="let pozycja of faktura.pozycje">
    <td><input type="number" [(ngModel)]="pozycja.id"></td>
    <td><input type="text" [(ngModel)]="pozycja.nazwa"></td>
    <td><input type="text" [(ngModel)]="pozycja.jednostkaMiary"></td>
    <td><input type="number" [(ngModel)]="pozycja.ilosc"></td>
    <td><input type="number" [(ngModel)]="pozycja.ceneNetto"></td>
    <td><input type="number" [(ngModel)]="pozycja.wartoscVat"></td>
    <td><input type="number" [(ngModel)]="pozycja.wartoscBrutto"></td>
  </tr>

</table>


<button (click)="download()">Pobierz</button>
