<table class="table table-striped table-bordered table-hover table-condensed table-responsive">
  <thead>
  <th>Pola do edytowania</th>
  </thead>
  <tbody>
  <tr>
    <td>ID</td>
    <td><input type="number" [(ngModel)]="towar.id"></td>
  </tr>
  <tr>
    <td>Nazwa towaru</td>
    <td><input type="text" [(ngModel)]="towar.nazwa"></td>
  </tr>
  <tr>
    <td>Cena</td>
    <td><input type="number" [(ngModel)]="towar.cena"></td>
  </tr>
  </tbody>

  <button class="btn" (click)="save()">Zapisz</button>
</table>
