<table class="table table-striped table-bordered table-hover table-condensed table-responsive" id="details">
  <thead>
  <th>Pola do wypełnienia</th>
  </thead>
  <tbody>
  <tr>
    <td>ID</td>
    <td><input type="number" [(ngModel)]="klient.id" class="form-control"></td>
  </tr>
  <tr>
    <td>nazwa klienta</td>
    <td><input type="text" [(ngModel)]="klient.nazwa" class="form-control"></td>
  </tr>
  <tr>
    <td>Ulica</td>
    <td><input type="text" [(ngModel)]="klient.ulica" class="form-control"></td>
  </tr>
  <tr>
    <td>Miasto</td>
    <td><input type="text" [(ngModel)]="klient.miasto" class="form-control"></td>
  </tr>
  <tr>
    <td>Kod Pocztowy</td>
    <td><input type="text" [(ngModel)]="klient.kodPocztowy" class="form-control"></td>
  </tr>
  <tr>
    <td>NIP</td>
    <td><input type="number" [(ngModel)]="klient.nip" class="form-control"></td>
  </tr>
  </tbody>

  <button class="btn" (click)="save()">Zapisz</button>
</table>
