<table class="table">
  <thead>
  <th>Pola do wypełnienia</th>
  </thead>
  <tbody>
  <tr>
    <td>ID</td>
    <td><input type="number" [(ngModel)]="klient.id"></td>
  </tr>
  <tr>
    <td>nazwa klienta</td>
    <td><input type="text" [(ngModel)]="klient.nazwa"></td>
  </tr>
  <tr>
    <td>Ulica</td>
    <td><input type="text" [(ngModel)]="klient.ulica"></td>
  </tr>
  <tr>
    <td>Miasto</td>
    <td><input type="text" [(ngModel)]="klient.miasto"></td>
  </tr>
  <tr>
    <td>Kod Pocztowy</td>
    <td><input type="text" [(ngModel)]="klient.kodPocztowy"></td>
  </tr>
  <tr>
    <td>NIP</td>
    <td><input type="number" [(ngModel)]="klient.nip"></td>
  </tr>
  </tbody>

  <button class="btn" (click)="save()">Zapisz</button>
</table>
