<table class="table">
  <thead>
  <tr><td (click)="newTowar()" >Nowy towar</td></tr>
  </thead>
</table>



<table class="table table-striped table-bordered table-hover table-condensed table-responsive">
  <thead>
  <tr>
    <th>ID</th>
    <th>Nazwa towaru</th>
    <th>Cena</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let temp of towary; let i = index">
    <td><a href="lista_towarow/edycja/{{temp.id}}">{{temp.id}}--EDYCJA</a></td>
    <td>{{temp.nazwa}}</td>
    <td>{{temp.cena}}</td>
    <td (click)="delete(temp.id)">Usuń</td>
  </tr>
  </tbody>
</table>
